.App {
  text-align: center;
}
/* for Navbar component */
.menu-button{
  display: none;
}
/* for login page */
.form-box{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.form-box form{
  background-color: #eff4f7;
}
/* for monsoon fest component */
.UnderLine::after{
  content: "";
  position: absolute;
  right: 0%;
  height: 2px;
  width: 25px;
  display: block;
  background-color: red;
}
/* for BoatNavTabs component */
.tabs{
  cursor: pointer;
}
.Active-Tab{
  background-color: #E7ECEE;
  color: black;
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid black;
  font-weight: 600;
}
.content{
  display: none;
}
.active-content {
  display: grid;
}
/* for description component */
.offer-value{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
}
/* for search Error component */
.search-error-box{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
/* for Loader Component */
.loader {
  margin: 2% auto;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: gray;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
/* for Button Loader in singleCart Component */
.buttonLoader {
  width: 20px;
  height: 20px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  margin: auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }
  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }