.App {
  text-align: center;
}
/* for Navbar components */
.menu-button{
  display: none;
}
/* for login page */
.form-box{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.form-box form{
  background-color: #eff4f7;
}
/* for monsoon fest component */
.UnderLine::after{
  content: "";
  position: absolute;
  right: 0%;
  height: 2px;
  width: 25px;
  display: block;
  background-color: red;
}
/* for BoatNavTabs components */
.tabs{
  cursor: pointer;
}
.Active-Tab{
  background-color: #E7ECEE;
  color: black;
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid black;
  font-weight: 600;
}
.content{
  display: none;
}
.active-content {
  display: grid;
}