@media (min-width: 320px) and (max-width: 1023px) {
    .menu-button{
        display: block;
        font-size: 26px;
    }
}
@media (min-width: 1024px) and (max-width: 1525px) {
    .lg\:w-\[94rem\] {
        width: 100%;
    }
}