@media (min-width: 320px) and (max-width: 1023px) {
    .menu-button{
        display: block;
        font-size: 26px;
    }
}
@media (min-width: 1024px) and (max-width: 1525px) {
    .lg\:w-\[94rem\] {
        width: 100%;
    }
}
@media (min-width: 1536px) and (max-width: 1600px) {
    .\32xl\:right-48 {
        right: 3rem;
    }
}
 @media (min-width: 1601px) and (max-width: 1700px) {
    .\32xl\:right-48 {
        right: 6rem;
    }
}
 @media (min-width: 1701px) and (max-width: 1800px) {
    .\32xl\:right-48 {
        right: 9rem;
    }
}
 @media (min-width: 1801px) and (max-width: 2000px) {
    .\32xl\:right-48 {
        right: 12rem;
    }
}